<!DOCTYPE html>
<html>

  <head>
    <title>MAZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  </head>

  <body>
    <div class="container">

        <h6>General stats for <span style="color: red; text-transform: uppercase;">{{symbol}}</span></h6>

        <h6>Data provided for free by 
        <a href="https://iextrading.com/developer">IEX</a>. View 
        <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>
        </h6>

        <table class="u-full-width">
            <tbody>
                {% for item in info %}
                <tr><td>{{item}}</td></tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
  </body>

</html>
