<!DOCTYPE html>
<html>

  <head>
    <title>MAZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  </head>

  <body>
    <div class="container">

      <section class="header" style="padding-top: 2.5%;">
        <h1 class="title">Welcome</h1>
        <h6>Enter a valid ticker symbol and press submit for today's stats.</h6>
      </section>

      <!--<form action="/search">
        <input id="ticker" placeholder="Enter Ticker..." style="resize: none;">
        <button id="btn" class="button-primary" onclick="replace()">Submit</button>
      </form>-->

      <form action = "http://http://127.0.0.1:5000/stats" method = "POST">
        <input id="ticker" placeholder="Enter Ticker..." style="resize: none;">
        <button id="btn" class="button-primary" onclick="replace()">Submit</button>
      </form>

    </div>
  </body>

</html>