<!DOCTYPE html>
<html>

  <head>
    <title>MAZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  </head>

  <script>
  
        <!-- http://maz-pyapps.qwwtwq3wae.us-east-1.elasticbeanstalk.com/ -->
        <!-- http://127.0.0.1:5000/ -->

      function append(){
          var action_src = "http://127.0.0.1:5000/" + document.getElementsByName("ticker")[0].value;
          var submit = document.getElementById('submitTicker');
          submit.action = action_src ;
      }
  </script>

  <body>
    <div class="container">

      <section class="header" style="padding-top: 2.5%;">
        <h1 class="title">Welcome</h1>
        <h6>Enter a valid ticker symbol and press submit for today's stats.</h6>
      </section>

      <form id="submitTicker" onsubmit="append()" method="post"> <!-- It's !important that the styling's perfect! -->
        <input type="text" name="ticker" style="height: 30px !important; vertical-align: middle !important;">
        <input class="button-primary" type="submit" value="Submit" style="height: 30px !important; vertical-align: middle !important;">
      </form>

    </div>
  </body>

</html>